<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bold;">{{aluguel.carro.modelo}} - {{aluguel.nomeLoc}}</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button size="small" (click)="CloseModal()">
      <ion-icon size="small" name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>

  <ion-img  src="{{aluguel.carro.foto}}"></ion-img>

  <ion-item>
    <ion-label>
      <h3><b>Diaria:</b> {{aluguel.carro.diaria | currency: 'R$'}}</h3>
      <h3><b>Nome locatário: </b>{{aluguel.nomeLoc}}</h3>
      <h3><b>CNH locatário: </b>{{aluguel.CNHLoc}}</h3>
      <h3><b>Endereço locatário: </b>{{aluguel.enderecoLoc}}</h3>
      <h3><b>Cidade locatário: </b>{{aluguel.cidadeLoc}}</h3>
      <h3><b>Estado locatário: </b>{{aluguel.estadoLoc}}</h3>
      <h3><b>CEP locatário:</b> {{aluguel.cepLoc}}</h3>
      <h3><b>Inicio:</b> {{aluguel.dataInicio | date: 'dd/MM/yyyy'}} - <b>Fim:</b> {{aluguel.dataFim | date: 'dd/MM/yyyy'}} </h3>   
    </ion-label>
  </ion-item>

</ion-content>
